.button {
  width: 100px;
  color: white;
  border: 1px solid black;
  padding: 5px;
  display: block;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.primary {
  background-color: #008cba;
}
.secondary {
  background-color: #e7e7e7;
  color: black;
}
.success {
  background-color: #4caf50;
}
.failed {
  background-color: #f44336;
}
